body
{
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #87D3FF), color-stop(1, #0A93EF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	background-repeat:no-repeat;
	background-attachment:fixed;	/*背景画像を固定して全体に表示するA*/
}

.header
{
	margin:0px;
	padding:0px;
	height:50px;
	background-color:black;
	top:0px;
}

.headerInfo ul
{
	margin:0;
	list-style-type:none;
	color:white;
}

.headerInfo ul li 
{
	display:inline;
	width:30px;
	float:left;
}


.container
{
	width:1000px;
	margin-left : auto;
	margin-right : auto;
}


#new
{
	margin-left : auto;
	margin-right : auto;
	width:500px;
	
}
.taskList
{
	margin-left : auto;
	margin-right : auto;
	width:500px;
	border:1px solid;
	list-style-type:none;	
}


#login
{
	width:450px;
	float:left;
}

#registerUser
{
	width:450px;
	float:left;
}



/*
情報変更ページ
*/

#panel
{
	width:300px;
}

#panel li
{
	list-style-type:none;
	background-color:silver;
	cursor:pointer;
	background-image:url('images/panel.jpg');
	padding:4px;
	color:white;
}

#panel form
{
	border:solid 1px silver;
}
