body
{
	/* IE10 */ 
	background-image: -ms-linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #87D3FF), color-stop(1, #0A93EF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	/* Proposed W3C Markup */ 
	background-image: linear-gradient(bottom, #87D3FF 0%, #0A93EF 100%);

	background-repeat:no-repeat;
	background-attachment:fixed;	/*背景画像を固定して全体に表示するA*/
}

#login
{
	width:200px;
	height:100px;
	border:1px silver solid;
	position:absolute;
	top:30%;
	left:50%;
}

#registerUser
{
	width:400px;
	height:200px;
	border:1px silver solid;
	position:relative;
	top:10px;
}

#header{
	background-color:black;
	height:20px;
}


